body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* ....................This is for Newac css................................ */
.btnac{
  display: flex;
  gap: 100px;
  padding-top: 7px;

}
.cancel {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(79, 70, 229);
  color: white;
  font-size: 0.875rem;
  line-height: 1.25rem;
  height: 39px;
  padding: 0 5rem;
  border-radius: 9px;
  border: none;
  cursor: pointer;


}


.newac {
  display: inline-flex;

  justify-content: center;
  background-color: rgb(79, 70, 229);
  color: white;
  font-size: -1.125rem;
  line-height: 2.25rem;
  height: 39px;

  border-radius: 8px;
  border: none;
  cursor: pointer;


}
.mt-123{

  margin-left: 2.25rem;
      }
h3.text-base.font-semibold.leading-6.text-gray-900 {
margin-left: 2.25rem;
  }

@media screen and (max-width: 471px) {
  .btnac {
    gap: 50px; /* reduce the gap between flex items */
  }

  .newac {
    font-size: 0.875rem; /* decrease the font size */
  }

}
/* ......................... End of new ac css......................................... */




  /*...................... Css for contact...................................... */



.chead {
  text-align: center;
  margin-top: 50px;
}
.chead h3{
  margin: 10px;
  font-size: 25px;
  font-weight: bold;
  font-style: oblique;
  color: rgb(13, 204, 230);
}
.cname{
     text-align: -webkit-center;
}
.ccomment{
  text-align: -webkit-center;
}

.cname input[type="text"],
.cname input[type="email"] {
    display: block;
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc; 
}
.cmsg {
  text-align: center;
  font-size: 20px;
}

.cmsg label {
  display: block;
  margin-bottom: 10px;
}

.ctexta {
  width: 50%;
  padding: 10px;
  margin: 0;
  border: 0.5px solid #ccc;
  resize: vertical;
  border-radius: 5px;
}


.cpolicy {
  position: static;
  display: initial;
  margin-top: 20px;
  padding-top: 106px;
  padding-left: 18%;
  text-align: center;
}


.cpolicylink a {
  color: blue;
}


.cbtn {
  text-align: center;
  padding-top: 12px;
  position: static;
  padding-left: 0%;
}

.cbtn button[type="submit"] {
  background-color: blue;
  color: white;
  padding-top: 50%;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.nbtn {
  text-align: center;
  padding-top: 12px;
  position: static;
  padding-left: 0%;
  color: blue;
}

 /*...................... End Css for contact...................................... */



/* ..................For Forgotpage css...................... */
.fhead h3 {
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  margin-top: -15px;
  padding: 18px 16px 18px 18px;
  position: static;
  display: flex;
  text-align: center;
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fhead h1{
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  margin-top: -15px;
  padding: 18px 16px 18px 18px;
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 15px;
  animation-name: modal-animation;
  animation-duration: 0.5s;
}

@keyframes modal-animation {
  from {opacity: 0}
  to {opacity: 1}
} */

/* ..................End Forgotpage css...................... */

/* ..................... Start of Homepage css.................... */

.herror{
  color: white;
}

.dark-mode-toggle12 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2rem; /* adjust this value to position the div horizontally */
}
@media (max-width: 639px) {
  .dark-mode-toggle12 {
    position: relative;
    margin-top: 1rem; /* adjust this value to position the div vertically */
    right: 0;
  }
}
.hemail{
  width: 400px;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 5px;
  align-items: center;
}
.hemail[type="email"]{
  padding-left: 10px;
  color: white;
  background-color: transparent;
}

/* ..................... END of Homepage css.................... */

/* Mobile */
@media screen and (max-width: 639px) {
  .nemailinput, .npasswordinput {
    width: 90vw;
  }
}

/* Desktop */
.npasswordlabel {
  margin-bottom: 1rem; /* 16px */
}

.nemailinput {
  
  display: flex;
  position: static;
  height: 2rem;
  font-size: 1rem;
  width: 96vw;
  line-height: 1.5;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: 0 0.125rem 0.25rem rgba(var(--bs-body-color-rgb),.075)!important;
}


/* ..........................................................................................  */

/* .....................................Start css of login.....................................................  */
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* .lgor {
  border: 0;
  border-top: 1px solid #ccc;
  margin-top: 2rem;
  margin-bottom: 2rem;
} */
.lgor {
  border: none;
  border-top: 1px solid black;
  text-align: center;
}

.lgor::before {
  content: "OR";
  display: inline-block;
  position: relative;
  top: -0.7em;
  padding: 0 0.5em;
  background-color: white;
}


.googlelogoborder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  border: 1px solid #ccc;
  margin-top: 1rem;
  width: 12rem;
  height: 2.3rem;
  background-color: #4285F4;
  border-radius: 9px;
  box-shadow: -1px 2px 6px 0px #888888;
  cursor: pointer;
}

.googlelogoborder button {
  margin-bottom: 11px;
  padding-top: 10px;
  font-size: 0.875rem;
  padding-left: 6px;
  font-weight: 500;
  color: white;
}


.googlelogo {
  width: 31px;
  height: 24px;
  display: flex;
  border: 1px solid #ccc ,#4285F4;
  background-color: white;
  border-radius: 3px;
}
.lerror{
  color: rgb(14, 13, 13);
}


/* .....................................END css of login.....................................................  */

.devsite-breadcrumb-list {
  display: flex;
  list-style: none;
  padding: 0;
  padding-left: 20px;
  padding-top: 10px;
}


.devsite-breadcrumb-list li {
  display: inline-block;
  margin-right: 10px;
}

.devsite-breadcrumb-list li:not(:first-child)::before {
  content: " > ";
}

.devsite-breadcrumb-list li:last-child {
  margin-right: 0;
}

.devsite-breadcrumb-list a {
  text-decoration: none;
  color: #5e0592;
}

.devsite-breadcrumb-list a:hover {
  text-decoration: underline;
}